## 練習時間
資料的操作有很多，接下來的馬拉松中我們會介紹常被使用到的操作，參加者不妨先自行想像一下，第一次看到資料，我們一般會想知道什麼訊息？

#### Ex: 如何知道資料的 row 數以及 column 數、有什麼欄位、多少欄位、如何截取部分的資料等等

有了對資料的好奇之後，我們又怎麼通過程式碼來達成我們的目的呢？

#### 可參考該[基礎教材](https://bookdata.readthedocs.io/en/latest/base/01_pandas.html#DataFrame-%E5%85%A5%E9%97%A8)或自行 google

# [作業目標]
- 熟悉更多的 Python 資料操作

# [作業重點]
- 列出資料的大小 (In[4], Hint : shape)
- 列出所有欄位 (In[5], 有多種寫法)
- 擷取部分資料 (In[6], Hint : loc 或 iloc)

In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
# 設定 data_path
dir_data = './data/'

In [3]:
f_app = os.path.join(dir_data, 'HomeCredit_columns_description_copy.csv')
print('Path of read in data: %s' % (f_app))
app_train = pd.read_csv(f_app, encoding = 'utf-8')

Path of read in data: ./data/HomeCredit_columns_description_copy.csv

### 如果沒有想法，可以先嘗試找出剛剛例子中提到的問題的答案
#### 資料的 row 數以及 column 數

In [25]:
print(app_train.shape)

(219, 5)

#### 列出所有欄位

In [5]:
print(app_train)

     Unnamed: 0                         Table                    Row  \
0             1  application_{train|test}.csv             SK_ID_CURR
1             2  application_{train|test}.csv                 TARGET
2             5  application_{train|test}.csv     NAME_CONTRACT_TYPE
3             6  application_{train|test}.csv            CODE_GENDER
4             7  application_{train|test}.csv           FLAG_OWN_CAR
..          ...                           ...                    ...
214         217     installments_payments.csv  NUM_INSTALMENT_NUMBER
215         218     installments_payments.csv        DAYS_INSTALMENT
216         219     installments_payments.csv     DAYS_ENTRY_PAYMENT
217         220     installments_payments.csv         AMT_INSTALMENT
218         221     installments_payments.csv            AMT_PAYMENT

                                           Description  \
0                             ID of loan in our sample
1    Target variable (1 - client with payment diffi...
2          Identification if loan is cash or revolving
3                                 Gender of the client
4                        Flag if the client owns a car
..                                                 ...
214            On which installment we observe payment
215  When the installment of previous credit was su...
216  When was the installments of previous credit p...
217  What was the prescribed installment amount of ...
218  What the client actually paid on previous cred...

                                   Special
0                                      NaN
1                                      NaN
2                                      NaN
3                                      NaN
4                                      NaN
..                                     ...
214                                    NaN
215  time only relative to the application
216  time only relative to the application
217                                    NaN
218                                    NaN

[219 rows x 5 columns]

#### 截取部分資料

In [14]:
print(app_train[2:5])

   Unnamed: 0                         Table                 Row  \
2           5  application_{train|test}.csv  NAME_CONTRACT_TYPE
3           6  application_{train|test}.csv         CODE_GENDER
4           7  application_{train|test}.csv        FLAG_OWN_CAR

                                   Description Special
2  Identification if loan is cash or revolving     NaN
3                         Gender of the client     NaN
4                Flag if the client owns a car     NaN

In [17]:
app_train.loc[:,['Row','Description']]

                       Row                                        Description
0               SK_ID_CURR                           ID of loan in our sample
1                   TARGET  Target variable (1 - client with payment diffi...
2       NAME_CONTRACT_TYPE        Identification if loan is cash or revolving
3              CODE_GENDER                               Gender of the client
4             FLAG_OWN_CAR                      Flag if the client owns a car
..                     ...                                                ...
214  NUM_INSTALMENT_NUMBER            On which installment we observe payment
215        DAYS_INSTALMENT  When the installment of previous credit was su...
216     DAYS_ENTRY_PAYMENT  When was the installments of previous credit p...
217         AMT_INSTALMENT  What was the prescribed installment amount of ...
218            AMT_PAYMENT  What the client actually paid on previous cred...

[219 rows x 2 columns]

In [19]:
app_train.iloc[:,[0,2]]

     Unnamed: 0                    Row
0             1             SK_ID_CURR
1             2                 TARGET
2             5     NAME_CONTRACT_TYPE
3             6            CODE_GENDER
4             7           FLAG_OWN_CAR
..          ...                    ...
214         217  NUM_INSTALMENT_NUMBER
215         218        DAYS_INSTALMENT
216         219     DAYS_ENTRY_PAYMENT
217         220         AMT_INSTALMENT
218         221            AMT_PAYMENT

[219 rows x 2 columns]

In [27]:
app_train.iloc[4:18,3:4]

                                          Description
4                       Flag if the client owns a car
5                 Flag if client owns a house or flat
6                   Number of children the client has
7                                Income of the client
8                           Credit amount of the loan
9                                        Loan annuity
10  For consumer loans it is the price of the good...
11  Who was accompanying client when he was applyi...
12  Clients income type (businessman, working, mat...
13     Level of highest education the client achieved
14                        Family status of the client
15  What is the housing situation of the client (r...
16  Normalized population of region where client l...
17    Client's age in days at the time of application

#### 還有各種數之不盡的資料操作，重點還是取決於實務中遇到的狀況和你想問的問題，在馬拉松中我們也會陸續提到更多例子